@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/nature-horizon-silhouette-person-mountain-sky-652631-pxhere.com.jpg");
  background-position: center;
  background-size: cover;
  transition: .5s;
}

h1::after{
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: writerEffect .7s infinite;
}
@keyframes writerEffect {
  0%, 100%{
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
} 
.container {
  position: relative;
  width: 1024px;
  height: 500px;
  padding: 20px;
  background-color: rgba(78, 78, 78, 0.5);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  border-radius: 8px;
  align-items: center;
}
.title {
  position: absolute;
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: #fff;
  top: -70px;
}
.player {
  background-color: #38423b;
  width: 600px;
  margin-bottom: 20px;
  height: 80%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play {
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}
.play::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
}
.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  padding: 30px 10px;
  background-color: #c4c4c4;
  border-radius: 8px;
}
.audio-block {
  width: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}
.audio-block:hover {
  opacity: 0.8;
}
.audio-block::after {
  content: "";
  align-self: center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
}
.first {
  background-image: url("/assets/rain.jpg");
  background-position: center;
  background-size: cover;
}
.second {
  background-image: url("/assets/mar.jpg");
  background-position: center;
  background-size: cover;
}
.third {
  background-image: url("/assets/rain2.jpg");
  background-position: center;
  background-size: cover;
}
